%btn {
  text-transform: uppercase;
  background-color: rgba($color: #fff, $alpha: 0.9);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  border: none;
}
